body {
  background-color: black !important;
}

.row .btn {
  height: 60px;
  width: 60px;
  margin-bottom: 3px;
  font-size: 20px;
}

#display {
  height: 60px;
  width: 252px;
  margin: 50px auto 3px;
  background-color: powderblue;
  font-size: 24px;
  text-align: right;
  padding: 13px;
}

*:focus {
    outline: 0 !important;
}
